<ScrollView sdkExampleTitle sdkToggleNavButton>
    <StackLayout height="100%">
        <ListView height="90%" [items]="recipesList">
                <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                    <StackLayout padding="10" orientation="horizontal">
                        <Label width="90%" class="listFont" (tap)="addItem(i)" [text]='item.title'></Label>
                        <Label  [text]="icons.check" class="userIcons" *ngIf="isInList(item.recipes)"></Label>
                    </StackLayout>
                </ng-template>
        </ListView>
        <button class="btn btn-primary btn-rounded-lg" text="Save" [nsRouterLink]="['/recipeDetails']" horizontalAlignment="center" verticalAlignment="middle"></button>
    </StackLayout>
</ScrollView>