<StackLayout orientation="vertical" height="100%">
    <RadCartesianChart *ngIf="showBar" tkExampleTitle tkToggleNavButton height="80%" margin="15">
        <DateTimeContinuousAxis tkCartesianHorizontalAxis
                                labelFitMode="Rotate" labelRotationAngle="1.2"></DateTimeContinuousAxis>
        <LinearAxis tkCartesianVerticalAxis horizontalLocation="Left" labelSize="11"></LinearAxis>
        <RangeBarSeries seriesName="Bar" tkCartesianSeries [items]="bpValues" showLabels="true" legendTitle="Ranges" categoryProperty="Time" lowPropertyName="Low"
                        highPropertyName="High"></RangeBarSeries>
        <Palette tkCartesianPalette seriesName="Bar">
            <PaletteEntry tkCartesianPaletteEntry fillColor="#31db97" strokeColor="#ffffff"></PaletteEntry>
        </Palette>
    </RadCartesianChart>
    <RadCartesianChart *ngIf="!showBar" tkExampleTitle tkToggleNavButton height="80%" margin="15">
        <DateTimeContinuousAxis tkCartesianHorizontalAxis BetweenTicks="5"
                                labelFitMode="Rotate" labelRotationAngle="1.6"></DateTimeContinuousAxis>
        <LinearAxis tkCartesianVerticalAxis Minimum="Low"></LinearAxis>
        <LineSeries tkCartesianSeries [items]="bpValues" categoryProperty="Time" valueProperty="High"></LineSeries>
        <LineSeries tkCartesianSeries [items]="bpValues" categoryProperty="Time" valueProperty="Low"></LineSeries>
    </RadCartesianChart>
    <StackLayout orientation="horizontal" width="100%" height="25">
        <Button class="btn btn-primary btn-rounded-lg" (tap)="generate(2)" width="18%"  text="1W"></Button>
        <Button class="btn btn-primary btn-rounded-lg" (tap)="generate(1)" width="18%" text="1M"></Button>
        <Button class="btn btn-primary btn-rounded-lg" (tap)="generate(3)" width="18%"  text="3M"></Button>
        <Button class="btn btn-primary btn-rounded-lg" (tap)="generate(0)" width="18%"  text="6M"></Button>
    </StackLayout>
    <Button class="btn btn-primary btn-rounded-lg" [nsRouterLink]="['/userProfile']"  text="Return"></Button>
</StackLayout>