
<StackLayout>
        <StackLayout width="100%" height="150" stretch="aspectFill">
                        <food-card></food-card>
        </StackLayout>
        <ScrollView height="300">
                <StackLayout>
                        <StackLayout orientation="horizontal" class="introBox">
                                <StackLayout col="0" row="0"><Image src="~/res/profilepic.jpg" class="icon" stretch="aspectFill"></Image></StackLayout>
                                <StackLayout orientation="vertical" row="0" col="1">
                                        <Label class="text" text="{{ name }}"></Label>
                                        <Label class="message" text="{{ comment }}" textWrap="true"></Label>
                                        <Image src="~/res/line.png" class="line" stretch="aspectFill"></Image>
                                </StackLayout>
                        </StackLayout>
                        <StackLayout orientation="horizontal" class="introBox">
                                        <StackLayout col="0" row="0"><Image src="~/res/usr_image.jpg" class="icon" stretch="aspectFill"></Image></StackLayout>
                                        <StackLayout orientation="vertical" row="0" col="1">
                                                <Label class="text" text="{{ name }}"></Label>
                                                <Label class="message" text="{{ comment }}" textWrap="true"></Label>
                                                <Image src="~/res/line.png" class="line" stretch="aspectFill"></Image>
                                        </StackLayout>
                        </StackLayout>
                        <StackLayout class="introBox">
                                <TextView multiline="true" height="200" class="message" hint="Enter text" stretch="aspectFill" height="auto" textWrap="true" (tap)="showButtons()" (returnPress)="onReturn($event)" returnKeyType="done"></TextView>
                        </StackLayout>
                </StackLayout>
        </ScrollView>
        <StackLayout orientation="horizontal" colSpan="1" width="75%">
                <Button borderColor="gray" class="btn btn-outline btn-rounded-lg" [nsRouterLink]="['commentingRecipe']"  text="Save" [visibility]="scButton"></Button>
                <Button borderColor="gray" class="btn btn-outline btn-rounded-lg" [nsRouterLink]="['commentingRecipe']"  text="Cancel" [visibility]="scButton"></Button>
        </StackLayout>
        <Button borderColor="gray" class="btn btn-outline btn-rounded-lg" [nsRouterLink]="['commentingRecipe']"  text="Back" [visibility]="backButton"></Button>
</StackLayout>
