<ScrollView sdkExampleTitle sdkToggleNavButton>
        <StackLayout>
                <StackLayout>
                        <Image row="0" class="img" src={{food_pic}} width="100%" height="250" stretch="aspectFill"></Image>
                </StackLayout>
                <StackLayout>
                        <StackLayout  colSpan="3" *ngFor="let item of commentList; let i = index" orientation="horizontal" class="introBox" padding="5">
                                <StackLayout col="0" row="0"><Image [src]="usr_pic_url.src" class="icon" stretch="aspectFill"></Image></StackLayout>
                                <StackLayout orientation="vertical" row="0" col="2">
                                        <StackLayout orientation="horizontal" colSpan="2">
                                                <Label class="text" text="{{ item.userName }}"></Label>
                                                <Label *ngIf="isUser(item.userID)"
                                                       [text]="trash_can"
                                                       class="icon trashCan"
                                                       (tap)="removeComments(item)"
                                                       fontSize="18"></Label>
                                        </StackLayout>
                                        <Label class="message" text="{{item.comment}}" textWrap="true"></Label>
                                        <Image src="~/res/line.png" class="line" stretch="aspectFill"></Image>
                                </StackLayout>
                        </StackLayout>
                        <StackLayout class="introBox">
                                <TextView [(ngModel)]="tvtext" multiline="true" height="200" class="message" hint="Enter text" stretch="aspectFill" height="auto" textWrap="true" (tap)="showButtons()" (returnPress)="onReturn($event)" returnKeyType="done"></TextView>
                        </StackLayout>
                </StackLayout>
                <StackLayout class="buttomButtons" orientation="horizontal" colSpan="1" width="65%">
                        <Button borderColor="gray" class="btn btn-primary btn-rounded-lg" text="Save" [visibility]="scButton" (tap)="addComments()"></Button>
                        <Button borderColor="gray" class="btn btn-primary btn-rounded-lg" text="Cancel" (tap)="hideButtons()" [visibility]="scButton"></Button>
                </StackLayout>
                <Button class="buttomButtons" borderColor="gray" class="btn btn-primary btn-rounded-lg" (tap) = "back()" text="Back" [visibility]="backButton"></Button>
        </StackLayout>
</ScrollView>