<StackLayout>
    <AbsoluteLayout>
        <Image class="img" src="~/res/image_placeholder.png" stretch="aspectFill" width="100%" height="30%"></Image>
        <Label id="icon_label" [text]="edit_icon" class="editIcon" left="375" top="140"></Label>
    </AbsoluteLayout>
    <TextField hint="Recipe Name" marginTop="15" fontSize="20" class="input input-border" returnKeyType="done"></TextField>
    <StackLayout>
        <Accordion #accord [items]="recipe" itemTapped="tapped" headerTextBold="true" headerTextColor="white" headerColor="pink" headerTextColor="blue"
            allowMultiple="true">
            <ng-template accordionHeaderTemplate let-item="item" let-i="index">
                <StackLayout orientation="horizontal">
                    <AbsoluteLayout marginTop="15">
                        <Label paddingLeft="20" fontSize="20" [text]="item.title" class="sideLabel sideLightGrayLabel" width="100%"></Label>
                        <Label id="icon_label" [text]="dropdown_icon" class="dropdownIcon" left="360" top="10"></Label>
                    </AbsoluteLayout>
                </StackLayout>
            </ng-template>
            <ng-template accordionItemTemplate let-item="item" let-parent="parentIndex" let-even="even" let-child="childIndex">
                <StackLayout marginTop="10">
                    <StackLayout orientation="horizontal" *ngIf="item.title === 'Ingredient'" width="100%">
                        <TextField #ingField marginLeft="10" (textChange)="onSaveIngredients($event)" paddingLeft="10" colSpan="1" [hint]="ingredInput" returnKeyType="done" class="input" width="80%" ></TextField>
                        <Button text="Add" (tap)="addIngredient()" class="btn btn-primary btn-rounded-lg"></Button>
                    </StackLayout>
                    <StackLayout orientation="horizontal" *ngIf="item.title === 'Tag'" width="100%">
                        <TextField #tagField marginLeft="10" (textChange)="onSaveHealthTags($event)" paddingLeft="10" row="1" [hint]="healthTagInput" returnKeyType="done" class="input" width="80%"></TextField>
                        <Button text="Add" (tap)="addTag()" class="btn btn-primary btn-rounded-lg"></Button>
                    </StackLayout>
                    <StackLayout orientation="vertical" *ngIf="item.title === 'Direction'" width="100%">
                        <TextView #dirField marginLeft="15" (textChange)="onSaveDirections($event)" marginRight="10" marginTop="10" borderColor="#DEDEDE" borderWidth="1" height="250px" [hint]="directionInput" returnKeyType="done" class="input input-border"></TextView>
                        <Button text="Add" (tap)="addDirection()" class="btn btn-primary btn-rounded-lg"></Button>
                    </StackLayout>
                </StackLayout>
            </ng-template>
        </Accordion>
        <StackLayout orientation="horizontal" horizontalAlignment="right">
            <Button class="btn btn-outline btn-rounded-lg" width="20%" fontSize="17" marginTop="15" text="Cancel"></Button>
            <Button class="btn btn-primary btn-rounded-lg" marginTop="15" fontSize="17" text="Save" width="20%"></Button>
        </StackLayout>
    </StackLayout>
</StackLayout>
