GridLayout {
    horizontal-align: center;
}

.introBox {
    padding: 30px;
    text-align: center;
}

.generateBtn {
    background-color: white;
    color: gray;
}

.bpText {
    padding: 0px;
    margin: 5px;
}

.flexBx {
    justify-content: space-around;
}

.labelText {
    margin-top: 10px;
}

.cardView {
    background-color: #f7f9fc;
}

.normal {
    color: #31db97;
    font-weight: 500;
}

.at-risk {
    color: #d17321;
    font-weight: 500;
}

.danger {
    color: #bc0b2e;
    font-weight: 500;
}