<ScrollView sdkExampleTitle sdkToggleNavButton #scrollView (scroll)="onScroll($event, scrollView, topView)">
    <StackLayout>
        <StackLayout #topView orientation="vertical">
            <StackLayout *ngIf="!bpScores" class="introBox"orientation="vertical" backgroundColor="#eff0f2" height="130" paddingTop="15">
                <Label class="h5" text="Welcome to FoodTrack, {{firstName}}!"></Label>
                <Label class="h4" text="You have not yet entered a BP Score"></Label>
                <Label class="h4" text="Click here to add BP score now" [nsRouterLink]="['/bpForm']"></Label>
            </StackLayout>
            <StackLayout *ngIf="bpScores" class="introBox"orientation="vertical" backgroundColor="#eff0f2" height="130" paddingTop="5">
                <Label class="h5" text="Hey {{ firstName }}, your most updated BP score is:"></Label>
                <Label class="h2" text="{{sScore}}/{{dScore}}"></Label>
                <Label class="h5" textWrap="true" text="Your systolic score is {{ getSStatus() }}." [class]="getSStatus()"></Label>
                <Label class="h5" textWrap="true" text="Your diastolic score is {{ getDStatus() }}" [class]="getDStatus()"></Label>
            </StackLayout>
        </StackLayout>
        <StackLayout>
            <CardView row="1" col="0" colSpan="3" margin="15">
                <SearchBar (loaded)="onLoad($event)" hint="Search by recipes" (submit)="searchRecipes($event)"
                           color="gray" textFieldBackgroundColor="white" textFieldHintColor="gray"></SearchBar>
            </CardView>
            <Label row="2" col="0" colSpan="3" class="labelText" style.textAlignment="center" text="OR"></Label>
            <Button borderColor="gray" row="3" col="0" colSpan="3" class="btn btn-primary btn-rounded-lg" [nsRouterLink]="['/recipesForm']" width="80%" text="Generate Recipes"></Button>
        </StackLayout>
        <FlexboxLayout row="4" col="0" colSpan="3" flexWrap="wrap" margin="10" backgroundColor="#fcfbff">
            <CardView class="cardView" margin="10" elevation="10" radius="1" *ngFor="let item of firebaseRecipe.landingPageRecipes_$ | async; let i = index">
                <StackLayout width="150">
                    <Image height="140" src="{{item.image}}" (tap)="getDetails(item)" stretch="aspectFit" verticalAlignment="top" marginTop="-20"></Image>
                    <Label [text]="item.title" margin="5" textWrap="true" (tap)="getDetails(item)"></Label>
                </StackLayout>
            </CardView>
        </FlexboxLayout>
    </StackLayout>
</ScrollView>