.textfield-border {
    width: 80%;
    margin-left: 10%;
    margin-top: 5;
    background-color: white;
    border-bottom-width: 1;
    border-color: #31db97;
}

.register-icon {
    font-family: 'icomoon';
    margin-top: 10;
}

.divider {
    color: #767778;
}