<StackLayout>
    <SegmentedBar [items]="myItems" width="100%" selectedIndex="0" selectedBackgroundColor="#31db97" (selectedIndexChange)="onSelectedIndexChange($event)"></SegmentedBar>
    <StackLayout *ngIf="segSelectedIndex === 0">
        <StackLayout orientation="vertical">
            <StackLayout orientation="horizontal"  marginTop="20">
                <StackLayout orientation="vertical" width="65%" marginLeft="10%">
                    <Label class="h3 divider" text="Login to FoodTrack"></Label>
                    <Label class="divider" text="Please enter your username and password to log on." textWrap="true" marginTop="10"></Label>
                </StackLayout>
                <Label class="icon register-icon" [text]="key" fontSize="35" verticalAlignment="middle" marginLeft="20"></Label>
            </StackLayout>
            <StackLayout orientation="horizontal">
                <TextField class="h4 textfield-border" hint="Email" secure="False" autocapitalizationType="none" (textChange)="loginEmail($event)"></TextField>
            </StackLayout>
            <StackLayout orientation="horizontal">
                <TextField class="h4 textfield-border" hint="Password" secure="True" autocapitalizationType="none" (textChange)="loginPsw($event)" (returnPress)="login()"></TextField>
            </StackLayout>
            <Button class="btn btn-primary btn-rounded-lg" text="Login" width="75%" marginTop="30" (tap)="login()"></Button>
            <Label class="h4 divider" text="or you can" horizontalAlignment="center" marginTop="0"></Label>
            <Button class="btn btn-primary btn-rounded-lg" text="Login Anonymously" width="75%"  marginTop="5" marginBottom="10" (tap)="anonLogin()"></Button>
        </StackLayout>
    </StackLayout>
    <StackLayout *ngIf="segSelectedIndex === 1">
        <ScrollView>
            <StackLayout orientation="vertical">
                <StackLayout orientation="horizontal"  marginTop="20">
                    <StackLayout orientation="vertical" width="65%" marginLeft="10%">
                        <Label class="h3 divider" text="Sign up now"></Label>
                        <Label class="divider" text="Please register for an account to gain access to FoodTrack." textWrap="true" marginTop="10"></Label>
                    </StackLayout>
                    <Label class="icon register-icon" [text]="pencil" fontSize="35" verticalAlignment="middle" marginLeft="20"></Label>
                </StackLayout>
                <StackLayout orientation="horizontal">
                    <TextField class="h4 textfield-border" hint="Email" secure="False" autocapitalizationType="none" (textChange)="registEmail($event)"></TextField>
                </StackLayout>
                <StackLayout orientation="horizontal">
                    <TextField class="h4 textfield-border" hint="Username" secure="False" autocapitalizationType="none" (textChange)="registUsrnm($event)"></TextField>
                </StackLayout>
                <StackLayout orientation="horizontal">
                    <TextField class="h4 textfield-border" hint="First Name" secure="False" autocapitalizationType="words" (textChange)="registFirstNm($event)"></TextField>
                </StackLayout>
                <StackLayout orientation="horizontal">
                    <TextField class="h4 textfield-border" hint="Last Name" secure="False" autocapitalizationType="words" (textChange)="registLastNm($event)"></TextField>
                </StackLayout>
                <StackLayout orientation="horizontal">
                    <TextField class="h4 textfield-border" hint="Password" secure="True" autocapitalizationType="none" (textChange)="registPsw($event)"></TextField>
                </StackLayout>
                <StackLayout orientation="horizontal">
                    <TextField class="h4 textfield-border" hint="Confirm Password" secure="True" autocapitalizationType="none" (textChange)="registCPwd($event)" (returnPress)="register()"></TextField>
                </StackLayout>
                <Button class="btn btn-primary btn-rounded-lg" text="Register" width="75%" marginTop="30" marginBottom="30" (tap)="register()"></Button>
            </StackLayout>
        </ScrollView>
    </StackLayout>
</StackLayout>