GridLayout {
    horizontal-align: center;
}

StackLayout Border {
    margin: 10;
}

.introBox {
    text-align: left;
}

.text {
    font-size: 20px;
}

.listFont {
    font-size: 20;
    padding: 5;
    background-color: #f7f9fc;
}
