<FilterableListpicker listWidth="350" #conditionListPicker blur="dark" hintText="Search medical condition"
        [source]="all_conditions_list" (cancel)="cancelFilterableList" (itemTapped)="itemTapped($event)"></FilterableListpicker>

<StackLayout orientation="vertical" height="140%" #stack>
    <user-card ></user-card>
    <ScrollView height = "37%" sdkExampleTitle sdkToggleNavButton #scrollView (scroll)="onScroll($event, scrollView, topView)">
        <StackLayout #topView orientation="vertical" paddingBottom="135" backgroundColor="#FFFFFF">
            <Label padding="15" *ngIf="curr_conditions.length <= 0" class="h4 p-14" text="Add your past Medical Conditions" textWrap="true"
                   width="80%">
            </Label>
            <StackLayout paddingTop="5" paddingLeft="15" *ngFor="let item of curr_conditions; let i = index " orientation="horizontal" width="100%">
                <CardView class="cardView" marginLeft="10" marginTop="10" marginBottom="4"
                        elevation="10" radius="1" width="86%">
                    <Label class="listFont" text="{{item}}" (swipe)="removeCondition(i)"></Label>
                </CardView>
            </StackLayout>
        </StackLayout>
    </ScrollView>
    <StackLayout paddingTop="5" paddingRight="15" paddingLeft="15">
        <Border borderRadius="3" borderWidth="1" borderColor="#727070">
            <Label paddingLeft="15" paddingTop="10" class="text" width="100%"
                    (tap)="showPicker()" marginBottom="10" [text]="add_condition"></Label>
        </Border>
        <StackLayout orientation="horizontal" horizontalAlignment="right">
            <Button text="ADD" (tap)="addMedicalCondition($event)" class="btn btn-primary btn-rounded-lg"></Button>
            <Button text="SAVE" (tap)="save($event)" class="btn-primary btn-rounded-lg"></Button>
        </StackLayout>
    </StackLayout>
</StackLayout>