.notification_text{
    font-size: 20px;
    color: #747474;
    border-width: 2px;
    border-color: rgb(109, 109, 109);
    background-color: rgb(255, 252, 242);
    padding: 35px;
}

.notification_layout{
    padding-top: 50px;
    padding-right: 40px;
    padding-left: 40px;
}

.x_icon{
    font-size: 16px;
    width: 30px;
    margin-right:-900px;
    margin-left:auto;
    margin-bottom: -10px;
}

.inner_text{
    height:auto;
}
