
<StackLayout backgroundColor="#E8EAED">
    <Image row="0" class="img" src={{food_pic}} width="100%" height="70%" stretch="aspectFill"></Image>
    <StackLayout width="70%" class="introBox" backgroundColor="#E8EAED" colSpan="2">
        <StarRating #starValue emptyColor="red" filledColor="yellow" value="{{value}}" max="{{max}}" isindicator="false"></StarRating>
        <StackLayout orientation="horizontal">
            <Button borderColor="gray" col="0" class="btn btn-primary btn-rounded-lg" text="Save" (tap) = "addRating()" [nsRouterLink]="['/recipeDetails']"></Button>
            <Button borderColor="gray" col="1" class="btn btn-primary btn-rounded-lg" text="Cancel" (tap) = "back()"></Button>
        </StackLayout>
    </StackLayout>
</StackLayout>