.imgClass {
    margin: 15px;
}

.titleLabels {
    padding: 15px;
}

#ingredientLabel {
    background-color: #f7f9fc;
}

.listFont {
    font-size: 20;
    margin-bottom: 12;
    padding: 5;
}

.titleFont {
    font-size: 28;
    padding: 30;
}