<StackLayout row="0" col="0" colSpan="3" rowSpan="8" orientation="vertical" backgroundColor="white">
    <StackLayout height="80%">
        <Label *ngIf="ingredients.length <= 0" class="h2 p-15"
               text="Please enter ingredients, and we will suggest recipes!" textWrap="true" width="80%">
        </Label>
        <StackLayout *ngFor="let item of ingredients; let i = index " orientation="horizontal" width="100%">
            <Label class="h2 p-15" text="{{item}}" textWrap="true" width="80%"></Label>
            <Button (tap)="removeIngr(i)" text="remove"></Button>
        </StackLayout>
    </StackLayout>
    <TextField
                width="100%"
                hint="Add an ingredient..."
               (returnPress)="addRecipes($event)"
               class="input input-border"></TextField>
    <Button *ngIf="this.ingredients.length > 0" text="Generate Recipes" width="100%"
            (tap)="getRecipesByIngredients()"></Button>
</StackLayout>
