<StackLayout orientation="vertical">
    <StackLayout orientation="vertical" backgroundColor="#E8EAED">
        <Label class="h3" text="{{recipe_name}}" textWrap="true" horizontalAlignment="center" background="gray" margin="10"></Label>
    </StackLayout>
    <ScrollView>
        <StackLayout orientation="vertical">
            <Image src="{{food_pic}}" width="100%"></Image>
            <StackLayout>
                <!-- insert healthy recipe symbol -->
                <StarRating #starValue emptyColor="red" filledColor="yellow" value="{{value}}" max="{{max}}" isindicator="false"></StarRating>
            </StackLayout>

            <!-- <TabView [(ngModel)]="tabSelectedIndex" (selectedIndexChange)="onIndexChanged($event)">
                <StackLayout *tabItem="{title: 'Ingredients'}">
                    <StackLayout *ngFor="let item of ingredients; let i = index" orientation="horizontal">
                        <Label text= "{{i+1}}. {{item.originalString}}" textWrap="true"></Label>
                    </StackLayout>
                </StackLayout>
                <StackLayout *tabItem="{title: 'Directions'}">
                    <StackLayout *ngFor="let item of directions; let i = index" orientation="horizontal">
                        <Label text= "{{i+1}}. {{item}}" textWrap="true"></Label>
                    </StackLayout>
                </StackLayout>
            </TabView> -->

            <SegmentedBar [items]="myItems" selectedIndex="0" (selectedIndexChange)="onSelectedIndexChange($event)" class="m-5"></SegmentedBar>
            <StackLayout *ngIf="segSelectedIndex === 0">
                <StackLayout *ngFor="let item of ingredients; let i = index" orientation="horizontal">
                    <Label class="b3 p-15" text= "{{i+1}}. {{item.originalString}}" textWrap="true"></Label>
                </StackLayout>
            </StackLayout>
            <StackLayout *ngIf="segSelectedIndex === 1">
                <StackLayout *ngFor="let item of directions; let i = index" orientation="horizontal">
                    <Label class="b3 p-15" text= "{{i+1}}. {{item}}" textWrap="true"></Label>
                </StackLayout>
            </StackLayout>

            <!-- add indicator for saved recipes here -->
            <Label text="Read more ..." horizontalAlignment="right" marginTop="4"></Label>
            <StackLayout orientation="horizontal" height="50" marginTop="20" marginBottom="20" marginLeft="5">
                    <button class="btn btn-primary btn-rounded-lg" text="Add To    Lists" width="95" marginLeft="8" [nsRouterLink]="['/addToRecipeLists']" horizontalAlignment="center" verticalAlignment="middle"></button>
                    <button class="btn btn-primary btn-rounded-lg" text="Add       Rating" width="95" marginLeft="8" [nsRouterLink]="['/ratingRecipe']" horizontalAlignment="center" verticalAlignment="middle"></button>
                    <button class="btn btn-primary btn-rounded-lg" text="View Comments" width="95" marginLeft="8" [nsRouterLink]="['/commentingRecipe']" horizontalAlignment="center" verticalAlignment="middle"></button>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>