<StackLayout orientation="vertical" backgroundColor="white">
    <StackLayout height="77%" paddingRight="15" paddingLeft="30">
        <Label *ngIf="ingredients.length <= 0" class="titleFont"
               text="Please enter ingredients, and we will suggest recipes!" textWrap="true" width="80%">
        </Label>
        <Label *ngIf="ingredients.length > 0" class="titleFont"
               text="Ingredients:" textWrap="true" width="80%" margin-left="-500px">
        </Label>
        <StackLayout *ngFor="let item of ingredients; let i = index " orientation="horizontal" width="100%">
            <Label class="listFont" text="{{i + 1}}. {{item}}" (swipe)="removeIngr(i)"
                   width="90%"></Label>
        </StackLayout>
    </StackLayout>
    <StackLayout orientation="horizontal" margin="0" padding="0">
            <Border cornerRadius="3" borderWidth="2" borderColor="#DCDCDC" height="40" marginLeft="15">
                <TextField
                    height= "39" 
                    (returnPress)="saveResponse()"
                    (textChange)="onTextChange($event)"
                    class="input-rounded"
                    width="80%">
                </TextField>
            </Border>
            <Button class="btn btn-primary btn-rounded-sm" (tap)="saveResponse()" 
                    height="40"  text="ADD" marginLeft="-32">
            </Button>
    </StackLayout>
    <Button class="btn btn-primary btn-rounded-sm" *ngIf="this.ingredients.length > 0" 
            text="Generate Recipes" width="92%"(tap)="getRecipesByIngredients()">
    </Button>
</StackLayout>
