<StackLayout>
    <StackLayout padding="15">
        <Label class="title" text="Save Recipe to List:"></Label>
    </StackLayout>
    <StackLayout *ngFor="let item of recipeLists; let i = index" padding="15">
        <Label class="recipeName" (tap)="getRecipes(i)" (swipe)="removeList(i)" text="{{item.title}}"></Label>
    </StackLayout>
    <StackLayout orientation="horizontal" margin="0" padding="0">
        <Border cornerRadius="3" borderWidth="2" borderColor="#DCDCDC" height="42" marginLeft="20">
            <TextField
                height= "42"
                (returnPress)="addList($event)"
                (textChange)="onTextChange($event)"
                class="input-rounded"
                width="75%">
            </TextField>
        </Border>
        <Button class="btn btn-primary btn-rounded-sm" (tap)="saveResponse($event)" height="42" text="Add" marginLeft="-20"></Button>
    </StackLayout>
    <StackLayout orientation="horizontal" marginTop="25" marginLeft="130">
        <Button class="btn btn-primary btn-rounded-lg" [nsRouterLink]="['/landing']"
                text="Cancel" horizontalAlignment="center" verticalAlignment="middle" marginTop="25"></Button>
        <Button class="btn btn-primary btn-rounded-lg"
                marginLeft="0" text="Save" horizontalAlignment="center"
                verticalAlignment="middle" marginTop="25" (tap)="updateList()" ></Button>
    </StackLayout>
</StackLayout>