<ScrollView sdkExampleTitle sdkToggleNavButton>
    <StackLayout *ngIf="unfilteredRecipes.length > 0">
        <StackLayout>
            <ListPicker [items]="filteringOptions" selectedIndex="0" (selectedIndexChange)="selectedIndexChanged($event)"></ListPicker>
        </StackLayout>
        <StackLayout paddingLeft="15" paddingRight="15" orientation="horizontal" width="100%">
            <Label padding="5" verticalAlignment="middle" class="titleLabels h4 p-15" text="Sort By:" style.textAlignment="center" width="20%" textWrap="true"></Label>
            <Label (tap)="sortRecipes('title')" padding="5" verticalAlignment="middle" class="titleLabels h4 p-15" text="Title" style.textAlignment="center" width="40%" textWrap="true"></Label>
            <Label (tap)="sortRecipes('readyInMinutes')" padding="5" verticalAlignment="middle" class="titleLabels h4 p-15" text="Ready In Minutes" style.textAlignment="center" width="40%" textWrap="true"></Label>
        </StackLayout>
        <StackLayout width="90%">
            <CardView margin="5" radius="1" backgroundColor="#f7f9fc" paddingLeft="15" paddingRight="15" elevation="10" *ngFor="let item of recipes; let i = index">
                <StackLayout orientation="horizontal">
                    <Image class="imgClass" src="{{item.image}}" width="80" height="80" (tap)="getDetails(item)"></Image>
                    <Label padding="5" verticalAlignment="middle" class="titleLabels h5 p-15" text="{{item.title}}" style.textAlignment="center" width="40%" textWrap="true"></Label>
                    <Label padding="5" verticalAlignment="middle" class="titleLabels h5 p-15" text="{{item.readyInMinutes}}" style.textAlignment="center" width="40%" textWrap="true"></Label>
                </StackLayout>
            </CardView>
        </StackLayout>
    </StackLayout>
</ScrollView>