<StackLayout height="100%">
    <ScrollView height = "75%" sdkExampleTitle sdkToggleNavButton #scrollView (scroll)="onScroll($event, scrollView, topView)">
        <StackLayout orientation="vertical" #topView paddingBottom="135">
            <StackLayout *ngFor="let item of recipeLists; let i = index" paddingLeft="20" paddingRight="20" paddingTop="7">
                <CardView class="cardView" marginLeft="10" marginTop="10" marginBottom="4" marginRight="10"
                    elevation="10" radius="1" width="86%">
                    <StackLayout width="90%">
                        <Label class="recipeName" (tap)="getRecipes(i)" (swipe)="removeList(i)" text="{{item.title}}"></Label>
                    </StackLayout>
                </CardView>
            </StackLayout>
        </StackLayout>
    </ScrollView>
    <StackLayout orientation="horizontal" margin="0" padding="0">
        <Border cornerRadius="3" borderWidth="2" borderColor="#DCDCDC" height="42" marginLeft="20">
            <TextField
                height= "42"
                (returnPress)="addList($event)"
                (textChange)="onTextChange($event)"
                class="input-rounded"
                width="70%">
            </TextField>
        </Border>
        <Button class="btn btn-primary btn-rounded-sm" (tap)="saveResponse($event)"
                height="42" text="Add" marginLeft="-6"></Button>
    </StackLayout>
    <StackLayout orientation="horizontal" height="auto" marginLeft="130">
        <Button class="btn btn-primary btn-rounded-lg" [nsRouterLink]="['/landing']"
                text="Cancel" horizontalAlignment="center" verticalAlignment="bottom" marginTop="25"></Button>
        <Button class="btn btn-primary btn-rounded-lg"
                marginLeft="0" text="Save" horizontalAlignment="center"
                verticalAlignment="bottom" marginTop="25" (tap)="updateList()"></Button>
    </StackLayout>
</StackLayout>