.introBox {
    padding: 30px;
    text-align: center;
}

.p-15-l {
    padding-top: 15;
    padding-bottom: 15;
    padding-left: 15;
}

.p-15-r {
    padding-top: 15;
    padding-bottom: 15;
    padding-right: 15;
}

.recipe-name {
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-bottom-color: #A2A3A5;
}

.bookmark {
    font-family: 'icomoon';
    font-size: 30;
    color: #31db97;
}

.oddBackground {
    background-color: rgba(233, 245, 247, 0.94);
}

.unit {
    color: black;
    font-size: 14;
    font-weight: 400;
}

.ingredient {
    color: black;
    font-size: 14;
    font-weight: 500;
}

.direction {
    color: black;
    font-size: 14;
    font-weight: 400;
}

.extra-line-height {
    line-height: 1.5;
}

.cardView {
    background-color: #f7f9fc;
}