<StackLayout orientation="vertical">
    <StackLayout orientation="horizontal">
        <StackLayout orientation="vertical" width="60%" marginLeft="10%" marginTop="30">
            <Label class="h2" text="Sign up now"></Label>
            <Label class="h4" text="You would need to fill in the form below to gain access to FoodTrack." textWrap="true" marginTop="10"></Label>
        </StackLayout>
        <Label class="icon register-icon" [text]="pencil" fontSize="15";></Label>
    </StackLayout>
    <StackLayout orientation="horizontal">
        <TextField class="textfield-border" hint="Please enter your username"></TextField>
    </StackLayout>
    <StackLayout orientation="horizontal">
        <TextField class="textfield-border" hint="Please enter your first name"></TextField>
    </StackLayout>
    <StackLayout orientation="horizontal">
        <TextField class="textfield-border" hint="Please enter your last name"></TextField>
    </StackLayout>
    <StackLayout orientation="horizontal">
        <TextField class="textfield-border" hint="Please enter your password"></TextField>
    </StackLayout>
    <StackLayout orientation="horizontal">
        <TextField class="textfield-border" hint="Please confirm you password"></TextField>
    </StackLayout>
    <StackLayout orientation="horizontal" marginLeft="75" marginTop="20">
        <Button class="btn btn-outline btn-rounded-lg" text="Cancel"></Button>
        <Button class="btn btn-outline btn-rounded-lg" text="Register"></Button>
    </StackLayout>
</StackLayout>