<ScrollView sdkExampleTitle sdkToggleNavButton>
    <StackLayout class="introBox" orientation="vertical" height="100%">
        <StackLayout>
            <Image class="img" src="{{usr_pic}}" width="100%"></Image>
        </StackLayout>

        <StackLayout orientation="horizontal" width="100%" class="sideLightGrayLabel">
            <Label class="h4 p-12 bpgText" [text]="'Name: ' + userInfo.name" width="33%"></Label>
            <Label class="h4 p-12 bpgText" [text]="'Age: ' + userInfo.age" width="20%"></Label>
            <Label class="h4 p-12 bpgText" [text]="'Username: ' + userInfo.username"></Label>
        </StackLayout>

        <StackLayout orientation="horizontal" width="100%">
            <Button width="55%" borderColor="gray" class="btn btn-primary btn-active generateBtn" [nsRouterLink]="['bpForm']"  text="Update My BP"></Button>
            <Label class="h3 p-12 bpgText" text="BP: 120/78"></Label>
        </StackLayout>

        <StackLayout>
            <Accordion [items]="user" itemTapped="tapped" headerTextBold="true" headerTextColor="white" headerColor="pink" headerTextColor="blue"
                       allowMultiple="true"  selectedIndex="2">
                <ng-template accordionHeaderTemplate let-item="item" let-i="index">
                    <StackLayout orientation="horizontal">
                        <Label [text]="item.title" class="sideLabel sideLightGrayLabel" width="95%"></Label>
                    </StackLayout>
                </ng-template>
                <ng-template accordionItemTemplate let-item="item" let-parent="parentIndex" let-even="even" let-child="childIndex">
                    <StackLayout>
                        <Label [text]="item.text" class="sideLabel sideLightGrayLabelInner"></Label>
                    </StackLayout>
                </ng-template>
            </Accordion>
        </StackLayout>
    </StackLayout>


    <!--<StackLayout class="introBox" row="5" col="0" colSpan="3" rowSpan="1" orientation="vertical" backgroundColor="#E8EAED">-->
        <!--<RadSideDrawer #drawerComponent [drawerLocation]="currentLocation" tkExampleTitle tkToggleNavButton>-->
                <!--<StackLayout tkDrawerContent class="sideStackLayout" [visibility]="show">-->
                    <!--<Label text="Hyptertension" class="sideLabel sideLightGrayLabel"></Label>-->
                    <!--<Label text="High Blood Pressure" class="sideLabel"></Label>-->
                    <!--<Label text="Diabetes" class="sideLabel"></Label>-->
                    <!--<Label text="Go Back" color="lightgray" padding="10" style="horizontal-align: center" (tap)="onCloseDrawerTap()"></Label>-->
                <!--</StackLayout>-->
            <!--<StackLayout tkMainContent>-->
                <!--<Button text="My Medical History" (tap)="openDrawer()" class="drawerContentButton"></Button>-->
            <!--</StackLayout>-->
        <!--</RadSideDrawer>-->

        <!--<RadSideDrawer #seconddrawerComponent [drawerLocation]="secondcurrentLocation" row="7" tkExampleTitle tkToggleNavButton>-->
            <!--<StackLayout tkDrawerContent class="sideStackLayout">-->
                <!--<StackLayout class="sideStackLayout" [visibility]="show2">-->
                    <!--<Label text="Reminder: balabala" class="sideLabel"></Label>-->
                    <!--<Label text="BP Goal: 120/78" class="sideLabel"></Label>-->
                    <!--<Label text="To Edit" class="sideLabel"></Label>-->
                <!--</StackLayout>-->
                <!--<Label text="Go Back" color="lightgray" padding="10" style="horizontal-align: center" (tap)="onSecondCloseDrawerTap()"></Label>-->
            <!--</StackLayout>-->
            <!--<StackLayout tkMainContent>-->
                <!--<Button text="My Medical Goals" (tap)="openSecondDrawer()" class="drawerContentButton"></Button>-->
            <!--</StackLayout>-->
        <!--</RadSideDrawer>-->
    <!--</StackLayout>-->

    <!--</GridLayout>-->
</ScrollView>
