<ScrollView sdkExampleTitle sdkToggleNavButton>
    <StackLayout orientation="vertical" class="main_container" height="140%">
        <Label padding="15" *ngIf="!bpScores" class="bg-primary" textWrap="true" text="Reminder: Add your BP scores to track your eating habits and track your goals!"></Label>
        <user-card></user-card>
        <StackLayout orientation="horizontal" width="100%" padding="5" height="60">
            <Button width="40%" borderColor="gray"
                    class="btn btn-primary btn-active btn-rounded-lg generateBtn"
                    [nsRouterLink]="['/bpForm']"  text="Update My BP"></Button>
            <Label *ngIf="bpScores && bpScores.length >= 3" width="15%" paddingTop="10" paddingLeft="5" [nsRouterLink]="['/bpChart']" [text]="icons.chart" class="icon userIcons" fontSize="18"></Label>
            <Label *ngIf="bpScores" class="h4" paddingTop="10" [text]="'BP: ' + bpScores[bpScores.length - 1][0] + ' / ' + bpScores[bpScores.length - 1][1]"></Label>
        </StackLayout>
        <StackLayout>
            <Accordion [items]="user" itemTapped="tapped"
                       headerTextBold="true"
                       headerTextColor="white" headerColor="pink"
                       headerTextColor="blue"
                       allowMultiple="true"  selectedIndex="2">
                <ng-template accordionHeaderTemplate let-item="item" let-i="index">
                    <StackLayout orientation="horizontal">
                        <Label [text]="item.title" class="sideLabel sideLightGrayLabel" width="100%"></Label>
                    </StackLayout>
                </ng-template>
                <ng-template accordionItemTemplate let-item="item" let-parent="parentIndex" let-even="even" let-child="childIndex">
                    <StackLayout padding="5">
                        <Label *ngIf="item.text !== 'Edit'" [text]="item.text" class="sideLabel sideLightGrayLabelInner"></Label>
                        <Button *ngIf="item.text === 'Edit'" width="100%" [text]="item.text" [nsRouterLink]="[item.link]" class="btn btn-primary btn-active btn-rounded-lg"></Button>
                    </StackLayout>
                </ng-template>
            </Accordion>
        </StackLayout>
    </StackLayout>
</ScrollView>