.introBox {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    text-align: center;
}

.sideLightGrayLabel {
    background-color: #F2F2F2;
    padding: 30px;
    text-align: left;
}

.sideLightGrayLabelInner {
    background-color: 	#FDFDFD;
    padding: 15px;
    text-align: left;
    padding-left: 30px;
}

