<StackLayout>
    <StackLayout #picture class="background" stretch="aspectFill" width="100%" [backgroundImage]="usr_pic_url.src" height="150">
        <Label id="icon_label" (tap)="getImage()"
               [text]="edit_icon"
               class="editIcon"
               verticalAlignment="bottom"
               horizontalAlignment="right"></Label>
    </StackLayout>
    <StackLayout orientation="horizontal" width="100%" class="sideLightGrayLabel">
        <Label class="h5 p-12 bpgText" [text]="'Name: ' + userInfo.name" width="50%"></Label>
        <Label class="h5 p-12 bpgText" [text]="'Username: ' + userInfo.username"></Label>
    </StackLayout>
</StackLayout>