.sideLightGrayLabel {
    background-color: #F2F2F2;
    /* padding: 30px; */
    text-align: left;
}

.editIcon {
    font-family: 'icomoon';
    font-size: 24px;
    color: rgb(48, 184, 66);
    margin-top: 450px;
}

.background {
    /* background-image: "~/res/menu_bar.png"; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
}