<StackLayout>
    <StackLayout>
        <Image class="img" src="{{usr_pic}}" width="100%"></Image>
    </StackLayout>
    <StackLayout orientation="horizontal" width="100%" class="sideLightGrayLabel">
        <Label class="h5 p-12 bpgText" [text]="'Name: ' + userInfo.name" width="33%"></Label>
        <Label class="h5 p-12 bpgText" [text]="'Age: ' + userInfo.age" width="20%"></Label>
        <Label class="h5 p-12 bpgText" [text]="'Username: ' + userInfo.username"></Label>
    </StackLayout>
</StackLayout>