<RadSideDrawer showOverNavigation="true" tkExampleTitle tkToggleNavButton>
    <StackLayout tkDrawerContent class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Navigation Menu"></Label>
        </StackLayout>
        <StackLayout class="sideStackLayout">
            <Label text="Primary" class="sideLabel sideLightGrayLabel"></Label>
            <Label text="Social" class="sideLabel"></Label>
            <Label text="Promotions" class="sideLabel"></Label>
            <Label text="Labels" class="sideLabel sideLightGrayLabel"></Label>
            <Label text="Important" class="sideLabel"></Label>
            <Label text="Starred" class="sideLabel"></Label>
            <Label text="Sent Mail" class="sideLabel"></Label>
            <Label text="Drafts" class="sideLabel"></Label>
        </StackLayout>
        <Label text="Go to next page" (tap)="goToSecondPage()" class="mainContentButton drawerContentButton"></Label>
        <Label text="Close Drawer" (tap)="onCloseDrawerTap()" class="mainContentButton drawerContentButton"></Label>
    </StackLayout>
    <StackLayout tkMainContent>
        <ActionBar title="App Icon Demo" class="action-bar">
            <NavigationButton text="Go Back" android.systemIcon="ic_menu_back"
                              (tap)="openDrawer()"></NavigationButton>
        </ActionBar>
        <router-outlet></router-outlet>
    </StackLayout>
</RadSideDrawer>