<RadSideDrawer showOverNavigation="true" tkExampleTitle tkToggleNavButton>
    <StackLayout tkDrawerContent class="sideStackLayout">
        <StackLayout class="sideStackLayout">
            <StackLayout class="avatar" >
                <Image [src]="usr_pic_url.src" class="circle-wrapper" stretch="aspectFill"></Image>
            </StackLayout>
            <StackLayout orientation="horizontal">
                <Label [text]="person" class="menuItem "></Label>
                <Label text="My Health Profile" class="sideLabel" [nsRouterLink]="['/userProfile']" (tap)="onCloseDrawerTap()"></Label>
            </StackLayout>
            <StackLayout orientation="horizontal">
                <Label [text]="fork" class="menuItem "></Label>
                <Label text="Generate Recipes" class="sideLabel" [nsRouterLink]="['/recipesForm']" (tap)="onCloseDrawerTap()"></Label>
            </StackLayout>
            <StackLayout orientation="horizontal">
                <Label [text]="search" class="menuItem "></Label>
                <Label text="Custom Recipe" class="sideLabel"[nsRouterLink]="['/customRecipe']" ></Label>
            </StackLayout>
            <StackLayout orientation="horizontal">
                <Label [text]="fork" class="menuItem "></Label>
                <Label text="Recipe Lists" class="sideLabel" [nsRouterLink]="['/recipesList']" (tap)="onCloseDrawerTap()"></Label>
            </StackLayout>
            <StackLayout orientation="horizontal">
                <Label [text]="logOut" class="menuItem "></Label>
                <Label text="Log Out" class="sideLabel" (tap)="logout()"></Label>
            </StackLayout>
        </StackLayout>
    </StackLayout>
    <StackLayout tkMainContent orientation="horizontal">
        <ActionBar title="" class="action-bar">
            <NavigationButton class="menu" icon="~/res/menu_bar.png" (tap)="openDrawer()"></NavigationButton>
            <ActionBar.titleView>
                <Label text="FoodTrack" class="title" style="font-size: 24; font-family: Times New Roman;" horizontalAlignment="center"></Label>
                <Label text="&#xea40;" class="back" horizontalAlignment="Left" (tap)="goBack()"></Label>
                <Label text="&#xe951;" class="notification" horizontalAlignment="Right" (tap)="goToNotifications()"></Label>
                <Label text="&#xe902;" class="home" horizontalAlignment="Right" (tap)="goHome()"></Label>
            </ActionBar.titleView>
        </ActionBar>
        <router-outlet></router-outlet>
    </StackLayout>
</RadSideDrawer>

