/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/core.light.css';
@import './components/css/custom.css';

button {
    border-radius: 20;
    background: crimson;
}

.drawerContentText {
font-size: 13;
padding: 10;
}

.drawerContentButton {
margin: 0;
/* horizontal-align: left;
vertical-align: left;
text-align: left; */
/* margin-left: 0px; */
}

.sideStackLayout {
background-color: white;
}



.sideTitleStackLayout {
height: 56;
text-align: center;
vertical-align: center;
}

.sideLabel {
padding-left: 70px;
padding-top: 70px;
font: 20;
color: black;

}

.icon {
margin-top: 30px;
/* margin-right: 10px;
margin-left: 15px; */
margin-bottom: 30px;
border-radius: 100;
overflow: visible;
width: 300px;
height: 300px;
}

.menuItem {
    font-family: 'icomoon';
    font-size: 20;
    padding-top: 70px;
    padding-left: 100px;

}

.imgHolder {
width: 300px;
height: 300px;
}

.sideLightGrayLabel {
background-color: lightgray;
}

.title {
    text-align: center;
}

.back {
    font-family: 'icomoon';
    font-size: 30px;
}

.menu {
    height: 30px;
    width: 30px;
}