.slash {
    color: black;
    font-size: 35px;
}

.grey-border {
    border: solid 1 grey;
    border-radius: 3;
}

.sideLightGrayLabel {
    background-color: #F2F2F2;
    padding: 30px;
    text-align: left;
}


